[submodule "charts/dispatcher-chart"]
	path = charts/dispatcher-chart
	url = git@github.com:dsavchenko/dispatcher-chart.git
[submodule "charts/dda-chart"]
	path = charts/dda-chart
	url = git@github.com:dsavchenko/dda-chart.git
