replicaCount: 1
replicaCountPassive: 1


podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

mysql:
  persistence:
    storageClass: vspherecsi

dda:
  ddosa_scwdata_download: false

  dda_disable_async: true
  dda_bootstrap_data: false

  use_hostpath: false

  storage_class: vspherecsi
  storage_class_rwmany: nfs-client

dispatcher:
  async_dispatcher: false

  use_hostpath: false

  storageClass: vspherecsi
  #storage_class_rwmany: nfs
  storage_class_rwmany: nfs-client

