replicaCount: 1
replicaCountPassive: 1

dda:
  oda:
    # only useful in places where data archive and large spaces are available
    use_hostpath: false 

#dispatcher:
#  oda:
    # hostdir scratch for worker
    #    scratch_root: "...."
    # storage for deployment-wide cache of precomputed products 
    #ddcache: "...."

    #dda:
    #oda:
    # hostdir scratch for worker
    #scratch_root: "...."
    # same as dispatcher.oda.ddcache
    #ddcache: "...."
    # used for some workflows, can be set to empty directory
    #resources: "...."


podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

mysql:
  persistence:
# to set: your storage class
    storageClass: cdcicn-nfs

dda:
  storage_class: cdcicn-nfs
